{% extends 'layout.html' %}

{% block content %}
        <center>
        <main class="form-signin col-lg-3">

            <br>
            
            <br>
            <form action="" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <h2 class="form-signin-heading">Zaloguj się</h2>
                <input class="form-control" type="text" placeholder="Login" name="username" value="{{request.form.username }}" required autofocus>
                <input class="form-control" type="password" placeholder="Hasło" name="password" value="{{request.form.password }}" required> <br>
                <input class="btn btn-primary py-2" type="submit" value="Zaloguj">
            </form>
          </main>

            {% if error %}
             <p class="error"><strong>Error:</strong> {{ error }} 
            {% endif %}
            {% for message in get_flashed_messages() %}
              {{ message }}
            {% endfor %}
          </center>
{% endblock %}