{% extends 'layout.html' %}

{% block content %}
        <br>
        <div id="example-table"></div>
        <br>
        <a href="/hello" class="btn btn-primary btn-lg px-4 gap-3">Powrót</a>
        <button id="delete-selected" class="btn btn-warning btn-lg px-4 gap-2">Usuń zaznaczonych</button>
<script type="text/javascript">
        var tabledata = {{ user|tojson }}
        
        //initialize table
        var table = new Tabulator("#example-table", {
        data:tabledata,
        responsiveLayout:"hide",
        height:"311px",
        layout:"fitDataTable",
        placeholder:"No Data Set",
        movableColumns:true,
        selectable:true,
        columns:[
        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                cell.getRow().toggleSelect();}},
        {title:"Name", field:"username", sorter:"string", width:120,},
        {title:"Admin", field:"admin", hozAlign:"center", formatter:"tickCross", sorter:"boolean", width:120,editor:true,},
        {title:"video1", field:"vid1", hozAlign:"center", formatter:"tickCross", sorter:"boolean", width:120,},
        {title:"video2", field:"vid2", hozAlign:"center", formatter:"tickCross", sorter:"boolean", width:120,},
        {title:"video3", field:"vid3", hozAlign:"center", formatter:"tickCross", sorter:"boolean", width:120,},
        ],
        });

        document.getElementById("delete-selected").addEventListener("click", function(){
                const selectedData = table.getSelectedData();
                console.log(selectedData.map(({ username }) => username));
                const sender = selectedData.map(({ username }) => username)
                $.ajax({
                        url: "/table",
                        type: "POST",
                        data: { sender },
                        success: function (response) {},
                        error: function (error) {
                          console.log(error);
                        },
                      });
            });
</script>
        
{% endblock %}